
</div>

<footer>
    LINK TO ABOUT PAGE                  FAQ                   Brian Caloz, CS 355: Database Management System Design,
            	  					      Sonoma State University.
</footer>

</body>
</html>